.overlay {
  position:fixed;
  display:none;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.6);
}

.overlay_active {
  composes: overlay;
  display:flex;
  justify-content:center;
  align-items:center;
}