.wrap {
  width:600px;
}

.list {
  display:flex;
  flex-direction:column;
  gap:10px;
  width:600px;
  height:600px;
}
.item {
  display:flex;
}
.main {
  composes:list;
  overflow:auto;
}

.footer {
  display:flex;
  flex-direction:row;
  justify-content:flex-end
}
.total {
  display:flex;
  align-items:center;
  justify-content:center;
}
